* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}
    


.container {
    padding: 5px 10%;

    background-color: rgb(253, 253, 253);
}
.navbar{
    /* color: #080808; */
    /* padding-bottom: 10px; */
    padding-left: 10px;
}
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: #ff004f; */
    padding-top: 5px;
    padding-bottom: 0px;
}
 /* nav ul{
    margin-left: 40%;
} */

.logo {
    width: 7%;
    margin-top: 2%;
    margin-left: 3%;
    /* margin-bottom: 1%; */
    /* font-weight: 600;
    font-size: 50px;
    font-family: cursive; */
    /* height: 150px; */
}

.logo span {
    color: #ff004f;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: -2px 10px;
    
}

nav ul li a {
    position: relative;
  color: rgb(91, 89, 89);
  font-size: 18px;
  /* font-weight: 500; */
  padding: 6px 0;
  text-decoration: none;

}
nav ul li a:hover{
    color: #777 ;
    text-decoration: none;
    /* font-size: 18px; */
    position: relative;

    /* transition: 0.5s; */
}

nav ul li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background:  rgba(64, 63, 63, 0.9);

    border-radius: 12px;
    transition: all 0.4s ease;
  }
nav ul li a:hover:before{
    width: 100%;
  }

nav ul li a:before{
    width: 100%;
    bottom: -5px;
    opacity: 0;
  }

  nav ul li a:hover:before{
    bottom: 0px;
    opacity: 1;
  }
  .yash{
    background-color: #edecec;
    width:100%;
    height: 100vh;
    
    /* margin: 2% 20%; */
  }
  .y{
    /* padding: auto; */
    width: 25%;
    padding-top: 10px;
    padding-left: 10px;
    height: 10%;
    font-size:x-large;
position: relative;
top: 7%;
left: 12%;
font-family:'Courier New', Courier, monospace;
    /* background-color: #ff004f; */
  }