* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #edecec;
}
    


.container {
    padding: 5px 10%;

    background-color: rgb(253, 253, 253);
}
.navbar{
    /* color: #080808; */
    /* padding-bottom: 10px; */
    padding-left: 10px;
}
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: #ff004f; */
    padding-top: 5px;
    padding-bottom: 0px;
}
 /* nav ul{
    margin-left: 40%;
} */

.logo {
    width: 7%;
    margin-top: 2%;
    margin-left: 3%;
    /* margin-bottom: 1%; */
    /* font-weight: 600;
    font-size: 50px;
    font-family: cursive; */
    /* height: 150px; */
}

.logo span {
    color: #ff004f;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: -2px 10px;
    
  }
  
  nav ul li a {
    position: relative;
    color: rgb(91, 89, 89);
    font-size: 18px;
    /* font-weight: 500; */
    padding: 6px 0;
    text-decoration: none;
    
}
nav ul li a:hover{
  color: #777 ;
    text-decoration: none;
    /* font-size: 18px; */
    position: relative;
    
    /* transition: 0.5s; */
  }
  
nav ul li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background:  rgba(64, 63, 63, 0.9);
  
  border-radius: 12px;
  transition: all 0.4s ease;
}
nav ul li a:hover:before{
  width: 100%;
}

nav ul li a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}

nav ul li a:hover:before{
  bottom: 0px;
  opacity: 1;
}
.yash{
  background-color: #edecec;
  width:100%;
  height: fit-content;
  /* scroll-behavior: ; */
    /* overflow-x: hidden; */
    /* margin: 2% 20%; */
    /* transform: matrix3d(); */
    overflow-y: hidden;
    overflow-x: visible;
    scroll-behavior: smooth;
    /* scroll-behavior-y: none; */
  }
  /* #box1:hover{
    
    transform: scale(1.075);
    transition: 0.2s ease-in;
  } */
  .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* background-color: #ff004f; */
    /* width: 300px;
    height: 300px; */
    padding-top: 80px;
    transition: 1s ease;
    /* padding-left: 10px; */
  }
  .col{
    margin: 50px;
    width: 300px;
    height: 300px;
    /* background-color: #ff004f; */
    padding-left: 90px;
    padding-top: 80px;
    /* padding: ; */
  }
.col:hover{
  /* transition: linear; */
  background-color: antiquewhite;
  transform: scale(1.2);
  transition: 1s ease;
  background: #b3aaa2;
  box-shadow: 2px 2px 2px #000;
  z-index: 2;
}
  
  .y{
    /* padding: auto; */
    width: 30%;
    padding-top: 10px;
    padding-left: 10px;
    height: 10%;
    font-size:x-large;
    position: relative;
    margin-top: 3%;
    left: 12%;
    font-family:'Courier New', Courier, monospace;
    /* background-color: #ff004f; */
  }
  .row{
    position: relative;
    cursor: pointer;
    margin-top: -100px;
    /* top: 10%; */
    left: 3%;
    /* top: 5%; */
  }
  .s{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
  }
  .n{
    display: block;
    margin-top: 1%;
    font-size:20px;
    font-weight: 500;
  }
  .p{
    
    /* background-color: #9f0404; */
    margin-top: 0.5%;
    margin-left: 2px;
  }
  .social
  {
    /* background-color: #ff004f; */
    /* margin-left: 2%; */
    padding: 10px;
    margin-top: 0.5%;
    
  }
  .fa{
    
    margin: -2px 10px;
  }
  .a{
    text-decoration: none;
  }